VITE_SUPABASE_URL=https://rwpdbdgtflnmyeyahxza.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_W9-9iqD36ImcdWkCW-GLgw_B1pQj3Hd

NEXT_PUBLIC_SUPABASE_URL=https://rwpdbdgtflnmyeyahxza.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_W9-9iqD36ImcdWkCW-GLgw_B1pQj3Hd
VITE_UNSPLASH_ACCESS_KEY=Dqu1YPe9qX2fQJejcLAjbfRmbpYtYOl8gzG04ieC-9I
VITE_INVITE_API_BASE_URL=https://votre-app.vercel.app
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
